{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}

	{% block css%}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
 	<!-- Froala -->
    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <!-- <link href="{% static 'css/froala_style.min.css' %}" rel="stylesheet" type="text/css" /> -->
    <link href="{% static 'css/createnews.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
    {% endblock %}

    {% block title%}
	BMNC Create News
	{% endblock %}

{% block content %}
<div class="container content">
	<div class="col-xs-12 col-md-9">
		<div class="fr-view" id="preview">
			<h2>Submit Your Article</h2>
			<hr>
			<p><i>all this form fields are required</i></p>
		</div>

		<form method="post" action="{%url 'berita:addnews'%}">
			{% csrf_token %}
			<div class="form-group form-inline">
				<label class="" for="title"><b>Title </label> : </b>
				<input type="text" class="form-control" id="judul_berita" name="title">
			</div>
			<div class="form-group form-inline">
				<label class="" for="url_berita"><b>Url </label> : </b><code>https://bmnc.com/news/</code>
				<input type="text" class="form-control" id="url_berita" name="id-berita">
			</div>
			<div class="form-group form-inline">
				<label class="" for="topic"><b>Topic </label> : </b>
				<input type="text" class="form-control" id="topik_berita" name="topic">
			</div>
			<div class="form-group form-inline">
				<label class="" for="words"><b>Words </label> : </b>
				<input type="text" class="form-control" id="jumlah_kata" name="words">
			</div>
			<div class="form-group">
				<label class="" for="title"><b>Content : </label><br> </b>
				<textarea class="form-control" name="content"></textarea>
			</div>
			<button type="submit" class="btn btn-outline-danger"><a href="{%url 'berita:index'%}">Cancel</a></button>
			<button type="submit" class="btn btn-outline-dark">Submit</button>
		</form>
	</div>
	<div class="col-xs-12 col-md-3">

	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/js/froala_editor.pkgd.min.js"></script>
<script> $(function() { $('textarea').froalaEditor() }); </script>
{% endblock %}
