{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block css%}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}
BMNC News
{% endblock %}

{% block content %}
	<div class="container content">
		<div class="row">
			<div class="col-xs-12 col-md-9">
				<div class="fr-view" id="preview" >
					<h2>Today's Highlight</h2>
					<hr>
				</div>
			</div>
			<div class="col-xs-12 col-md-3 new-article">
				<h2>Share Your Story!</h2>
				<p>Lorem ipsum dolor sit amet, qui ut tantas epicurei persequeris, qui odio comprehensam an. His in etiam persius. Qui mazim.</p>
				<button type="submit" class="btn btn-outline-dark"><a href="{% url 'berita:createnews' %}">Add New Article</a></button>
			</div>
		</div>
	</div>
{% endblock %}


{% block script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
{% endblock %}