{% load staticfiles %}
{% load static %}
<footer class = "my-footer" >
   <!-- TODO Block Footer dan include footer.html -->
   <div class="row footer">
   		<div class="col-xs-4 logo">
   			<img src="{% static 'images/logo.png' %}">
   			<h6>Headquarter</h6>
   			<p>Lorem ipsum dolor sit amet, </p>
   			<p> qui ut tantas epicurei persequeris,</p>
   			<p> qui odio comprehensam an. His in etiam </p>
   			<p> persius. Qui mazim.</p>
   		</div>
   		<div class="col-xs-2 linked">
   			<h6>News</h6>
   			<p>World</p>
   			<p>US</p>
   			<p>Politics</p>
   			<p>N.Y.</p>
   			<p>Business</p>
   		</div>
   		<div class="col-xs-2 linked">
   			<h6>News</h6>
   			<p>World</p>
   			<p>US</p>
   			<p>Politics</p>
   			<p>N.Y.</p>
   			<p>Business</p>
   		</div>
   		<div class="col-xs-2 linked">
   			<h6>News</h6>
   			<p>World</p>
   			<p>US</p>
   			<p>Politics</p>
   			<p>N.Y.</p>
   			<p>Business</p>
   		</div>
   		<div class="col-xs-2 linked">
   			<h6>News</h6>
   			<p>World</p>
   			<p>US</p>
   			<p>Politics</p>
   			<p>N.Y.</p>
   			<p>Business</p>
   		</div>
   </div>

</footer>