{% load staticfiles %}
{% load static %}
<nav class="navbar navbar-expand-md bg-primary navbar-dark navbar-background">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="ganti-url-ini"> <!--WARNING CHANGE URL TO MAIN PAGE-->
      <img src="{% static 'images/logo.png' %}" width="150" class="d-inline-block align-top" alt="BMNC" height="50">
    </a>
    <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
      {% if header_login %}
      <ul class="nav navbar-nav">
        <li>
          <form class="form-inline" action="{% url 'auth:login' %}" method='POST'>
            {% csrf_token %}
            <label class="text-light font-weight-bold">Username:
            </label>
            <input name="field_username" type="text" class="form-control m-2" placeholder="Enter Username" required>
            <label class="text-light font-weight-bold">Password:
            </label>
            <input name="field_password" type="password" class="form-control m-2" placeholder="Password" required>
            <button type="submit" class="btn btn-success btn-md m-1">Login</button>
          </form>
        </li>
        <li>
          <a class="form-inline btn navbar-btn ml-5 text-white btn-md mt-2 m-1 register-button" href="{% url 'registration:index' %}">Register</a>
        </li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav">
        <li class="nav-item btn">
          <a class="nav-link font-weight-bold text-light" href="{% url 'profile:index' %}">Profil</a> <!--WARNING CHANGE URL-->
        </li>
        <li class="nav-item btn">
          <a class="nav-link font-weight-bold text-light" href="{% url 'berita:index' %}">Berita</a> <!--WARNING CHANGE URL-->
        </li>
        <li class="nav-item btn">
          <a class="nav-link font-weight-bold text-light" href="{% url 'polling:index' %}">Polling</a> <!--WARNING CHANGE URL-->
        </li>
        <li class="nav-item">
          <a class="btn navbar-btn text-white btn-md mt-2 btn-danger" href="{% url 'auth:logout' %}">Logout</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger text-center font-weight-bold" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
