html, body {
  height: 100%;
}

body {
  /*position: relative;*/
}


.content {
  margin-top:20px; 
  margin-bottom: 20px;
}


.footer {
  /*position: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: auto;
  background-color: white;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid grey;
}


.footer .logo {
  border-right: 2px solid black;
  width: 30%;
}

.footer .logo img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.footer .logo p {
  color: black;
  margin: 0;
  font-size: 11px;
}

.footer .linked {
  color: black;
  width: 12%;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.footer .linked p {
  font-size: 11px;
  margin: 0;
}