.content {
	margin-top: 30px;
	margin-bottom: 30px;

}

.content form label {
	width: 200px;
	justify-content: left;
}
.content form code {
	margin-left: 15px;
	color: black;
}

.content form input {
	margin-left: 15px;
	border: 0px;
	border-bottom: 1px solid black;
}

.content form textarea {
	/*margin-left: 15px;*/
	width: 300px;
	height: 70px;
	border: 0px;
	border-bottom: 1px solid black;
}

.content form .input-group {
	margin-bottom: 5px;
}

.content form .input-group-text {
	border: 0px;
	background-color: white;
}