.related-poll {
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}

.related-poll .div-poll {
	width: 50%;
}

.related-poll .div-poll a {
	color: black;
}

.related-poll #related-poll {
	margin: 0px;
	font-size: 12px;
}