{% extends "layout/base.html" %}

{% load staticfiles %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/berita.css' %}"type="text/css">
{% endblock %}

{% block title %}
Profile Page - BMNC
{% endblock %}

{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="" class="active nav-link" data-toggle="tab" data-target="#tabone">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" data-toggle="tab" data-target="#tabtwo">Account Settings</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link" data-toggle="tab" data-target="#tabthree">Manage Berita</a>
            </li>
          </ul>
          <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
              <div class="row">
                <div class="col-md-5">
                  <img class="img-fluid d-block rounded-circle" src="{% static 'images/foto-profile.jpg' %}" style="height: 50%; weight: 50%"> </div>
                <div class="col-md-6" style="color: black">
                  <h1> {{ result.nama }}</h1>
                  <h2> {{ universitas.nama }}</h2>
                  <h2> {{ mahasiswa.npm }}{{ staf.nik_staf }}{{ dosen.nik_dosen }}</h2>
                  <h2> {{ result.tempat }}, {{ result.tanggalx }}</h2>
                  <h2> {{ result.email }}</h2>
                  <h2> {{ result.no_hp }}</h2>
                  <h2> {{ mahasiswa.status }}{{ staf.posisi }}{{ dosen.jurusan }}</h2>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
              <p class="" style="color: black">Tab pane two. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="tab-pane fade" id="tabthree" role="tabpanel">
              <!-- <button class="accordion">Judul Berita 1</button>
              <div class="panel">
                <div>Judul       : Judul Berita 1</div>
                <div>Url         : <a href="https://suatuurlberita.hehe/berita/1">https://suatuurlberita.hehe/berita/1</a></div>
                <div>Topik       : Ini</div>
                <div>Jumlah Kata : 69</div>
                <div>Tag         : Komedi</div>
              </div>

              <button class="accordion">Judul Berita 2</button>
              <div class="panel">
                <div>Judul       : Judul Berita 2</div>
                <div>Url         : <a href="https://suatuurlberita.hehe/berita/2">https://suatuurlberita.hehe/berita/2</a></div>
                <div>Topik       : Suatu</div>
                <div>Jumlah Kata : n^2</div>
                <div>Tag         : Action</div>
              </div>

              <button class="accordion">Judul Berita 3</button>
              <div class="panel">
                <div>Judul       : Judul Berita 3</div>
                <div>Url         : <a href="https://suatuurlberita.hehe/berita/3">https://suatuurlberita.hehe/berita/3</a></div>
                <div>Topik       : Berita</div>
                <div>Jumlah Kata : n log n</div>
                <div>Tag         : Horror</div>
              </div> -->
			  
			   {% for data in berita %}
                    <button class="accordion">{{data.judul}}</button>
					  <div class="panel">
						<div>Judul       : {{data.judul}}</div>
						<div>Url         : <a href={{data.url}}>{{data.url}}</a></div>
						<div>Topik       : {{data.topik}}</div>
						<div>Jumlah Kata : {{data.tag}}</div>
						<div>Tag         : Horror</div>
					  </div> -->
                {% endfor %}


            <!-- stop -->  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
  </script>
{% endblock %}
