{% extends "layout/base.html" %}

{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}" type="text/css">
{% endblock %}

{% block title %}
Registration
{% endblock %}

{% block content %}
<div class="registration_message"></div>
<div class="bt-white">
  <div class="container">
    <div class="row p-3">
      <div class="col-md-12 bg-light text-dark p-2">
        <h1 class="text-center text-dark">
          <b>Registration Form</b>
        </h1>
        <hr>
        <form class="">
          <div class="form-group">
            <label>Role</label>
            <br>
            <div class="btn-group">
              <button id="role-dropdown" class="btn dropdown-toggle btn-warning" data-toggle="dropdown">Mahasiswa</button>
              <div class="dropdown-menu">
                <a class="dropdown-item btn" onclick="selectRole('Mahasiswa')">Mahasiswa</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item btn" onclick="selectRole('Staff')">Staff</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item btn" onclick="selectRole('Dosen')">Dosen</a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Username</label>
            <input id="field_username_register" type="text" class="form-control" placeholder="Ex: josh.brolin" required> </div>
          <div class="form-group">
            <label>Password</label>
            <input id="field_password_register" type="password" class="form-control" placeholder="Password" required> </div>
          <div class="form-group">
            <label>Nomor Identitas</label>
            <input id="field_nomor_identitas" type="text" class="form-control" placeholder="Ex: 123456789" required> </div>
          <div class="form-group">
            <label>Nama</label>
            <input id="field_nama" type="text" class="form-control" placeholder="Ex: Josh Brolin" required> </div>
          <div class="form-group">
            <label>Tempat lahir</label>
            <input id="field_tempat_lahir" type="text" class="form-control" placeholder="Ex: Titan" required> </div>
          <div class="form-group">
            <label>Tanggal lahir</label>
            <input id="field_tanggal_lahir" type="date" class="form-control" required> </div>
          <div class="form-group">
            <label>Email</label>
            <input id="field_email" type="email" class="form-control" placeholder="Ex: thanos@infinity.com" required> </div>
          <div class="form-group">
            <label>Nomor HP</label>
            <input id="field_nomor_hp" type="text" class="form-control" placeholder="Ex: 085469713"> </div>
          <div id="role-input" class="form-group">
            <label>Status Kemahasiswaan</label>
            <input id="field_status_mahasiswa" type="text" class="form-control" placeholder="Ex: Active / Not Active" required></div>
        </form>
        <button type="submit" class="btn btn-danger text-white m-2" onClick='register()'>Submit</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/registration.js' %}"></script>
{% endblock %}
