{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block css%}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}
Polling BMNC
{% endblock %}

{% block content %}

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Polling</h1>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="" class="active nav-link btn" data-toggle="tab" data-target="#tabone">Polling Berita</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" href="" data-toggle="tab" data-target="#tabtwo">Polling General</a>
          </li>
        </ul>
        <div class="tab-content mt-2">
          <div class="tab-pane fade show active" id="tabone" role="tabpanel">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th class="w-50">Deskripsi</th>
                  <th>Waktu Mulai</th>
                  <th>Waktu Akhir</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr>
                  <td>
                    <a href="https://suatuurlberita.com/berita/1">1</a>
                  </td>
                  <td>
                    <a href="https://suatuurlberita.com/berita/1">Deskripsi Polling Berita 1</a>
                  </td>
                  <td>30-4-2018 12:00:00</td>
                  <td>30-8-2018 12:00:00</td>
                </tr>
                <tr>
                  <td>
                    <a href="https://suatuurlberita.com/berita/2">2</a>
                  </td>
                  <td>
                    <a href="https://suatuurlberita.com/berita/2">Deskripsi Polling Berita 2</a>
                  </td>
                  <td>30-4-2018 13:00:00</td>
                  <td>30-8-2018 13:00:00</td>
                </tr>
                <tr>
                  <td>
                    <a href="https://suatuurlberita.com/berita/4">4</a>
                  </td>
                  <td>
                    <a href="https://suatuurlberita.com/berita/4">Deskripsi Polling Berita 3</a>
                  </td>
                  <td>30-4-2018 15:00:00</td>
                  <td>30-8-2018 15:00:00</td>
                </tr> -->
				{% if polling_berita and polling_berita.length > 0 %}
                {% for data in polling_berita %}
                 <tr>
                  <td>
                    <a href="{{data.1.url_berita}}">{{data.0.id}}</a>
                  </td>
                  <td>
                    <a href="{{data.1.url}}">{{data.1.url}}</a>
                  </td>
                  <td>{{data.0.polling_start}}</td>
                  <td>{{data.0.polling_end}}</td>
                </tr>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data Polling Berita.
            </div>
            {% endif %}

              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="tabtwo" role="tabpanel">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th class="w-50">Deskripsi</th>
                  <th>Waktu Mulai</th>
                  <th>Waktu Akhir</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr>
                  <td>
                    <a href="https://suatuurlberita.com/berita/3">3</a>
                  </td>
                  <td>
                    <a href="https://suatuurlberita.com/berita/3">Deskripsi Polling General 1</a>
                  </td>
                  <td>30-4-2018 14:00:00</td>
                  <td>30-8-2018 14:00:00</td>
                </tr>
                <tr>
                  <td>
                    <a href="https://suatuurlberita.com/berita/5">5</a>
                  </td>
                  <td>
                    <a href="https://suatuurlberita.com/berita/5">Deskripsi Polling General 2</a>
                  </td>
                  <td>30-4-2018 16:00:00</td>
                  <td>30-8-2018 16:00:00</td>
                </tr>
                <tr>
                  <td>
                    <a href="https://suatuurlberita.com/berita/6">6</a>
                  </td>
                  <td>
                    <a href="https://suatuurlberita.com/berita/6">Deskripsi Polling General 3</a>
                  </td>
                  <td>30-4-2018 17:00:00</td>
                  <td>30-8-2018 17:00:00</td>
                </tr> -->
				{% if polling_biasa and polling_biasa.length > 0 %}
                {% for data in polling_biasa %}
                 <tr>
                  <td>
                    <a href="{{data.1.url}}">{{data.0.id}}</a>
                  </td>
                  <td>
                    <a href="{{data.1.url}}">{{data.1.deskripsi}}</a>
                  </td>
                  <td>{{data.0.polling_start}}</td>
                  <td>{{data.0.polling_end}}</td>
                </tr>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data Polling Biasa.
            </div>
            {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <h2>Create Your Own Polls!</h2>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet, qui ut tantas epicurei persequeris, qui odio comprehensam an. His in etiam persius. Qui mazim.</p>
        <div class="related-poll row">
          <div class="col-xs-6 div-poll">
            <p id="related-poll"><i>News Related Poll</i></p>
            <button type="submit" class="btn btn-outline-dark"><a href="{%url 'polling:createNewsPoll'%}">Create</a></button>
          </div>
          <div class="col-xs-6 div-poll">
            <p id="related-poll"><i>Ordinary Poll</i></p>
            <button type="submit" class="btn btn-outline-dark"><a href="{%url 'polling:createOwnPoll'%}">Create</a></button>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
</div>
<br>
<br>
{% endblock %}
