{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block css%}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/createpoll.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}
BMNC News
{% endblock %}

{% block content %}
	<div class="container content">
			<div class="col-xs-12 col-md-9">
				<div class="fr-view" id="preview">

					<h2>Create Your News Poll</h2>
					<hr>
					<p><i>all this form fields are required</i></p>
				</div>
				<form method="post" action="{%url 'polling:addNewsPoll'%}">
					{% csrf_token %}
					<div class="form-group form-inline">
						<label class="" for="basic-url"><b>Url </label> : </b><code>https://bmnc.com/news/</code>
						<input type="text" class="form-control" id="url_berita" name="idurl">
					</div>
					<div class="form-group form-inline">
						<label class="" for="title"><b>Start Time </label> : </b>
						<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
							<input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"  name="starttime" />
							<div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
								<div class="input-group-text"><i class="fa fa-calendar"></i></div>
							</div>
						</div>
					</div>
					<div class="form-group form-inline">
						<label class="" for="topic"><b>End Time </label> : </b>
						<div class="input-group date" id="datetimepicker2" data-target-input="nearest">
							<input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" name="endtime"/>
							<div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
								<div class="input-group-text"><i class="fa fa-calendar"></i></div>
							</div>
						</div>
					</div>
					<div class="form-group form-inline">
						<label class="" for="words"><b>Question </label> : </b>
						<input type="text" class="form-control" id="jumlah_kata" name="question">
					</div>
					<div class="form-group ">
						<label class="" for="words"><b>Answer Choice </label> : </b><br>
						<div class="input-group col-xs-12 col-md-6">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<input type="radio" aria-label="Radio button for following text input" >
								</div>
							</div>
							<input type="text" class="form-control" aria-label="Text input with radio button" name="answer1">
						</div>
						<div class="input-group col-xs-12 col-md-6">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<input type="radio" aria-label="Radio button for following text input" >
								</div>
							</div>
							<input type="text" class="form-control" aria-label="Text input with radio button" name="answer2">
						</div>
					</div>
					<button type="submit" class="btn btn-outline-danger"><a href="{%url 'polling:index'%}">Cancel</a></button>

					<button type="submit" class="btn btn-outline-dark">Submit</button>
				</form>
			</div>
			<div class="col-xs-12 col-md-3">

			</div>
		</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
<!-- moment js -->
<script type="text/javascript" src="{% static 'js/moment.js'%}"></script>

<!-- tempusdominus -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />

<script type="text/javascript">
    $(function () {
    	var today = new Date();
		var dd = today.getDate();
		var dd1 = dd+1;
		var mm = today.getMonth()+1; //January is 0!

		var yyyy = today.getFullYear();
		if(dd<10){
		    dd='0'+dd;
		}
		if(mm<10){
		    mm='0'+mm;
		}
		var today = dd+'/'+mm+'/'+yyyy;
		var tomorrow = dd1+'/'+mm+'/'+yyyy;
		console.log(tomorrow);
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();
        $('#datetimepicker1').datetimepicker({ minDate: true, debug: true });
		$('#datetimepicker2').datetimepicker({ minDate: true, debug: true });
		$('#datetimepicker1').datetimepicker('minDate', today,  true);
		$('#datetimepicker2').datetimepicker('minDate', tomorrow,  true);
    });
</script>
{% endblock %}
