.content {
	margin-top: 30px;
	margin-bottom: 30px;

}

.content form label {
	width: 150px;
	justify-content: left;
}
.content form code {
	margin-left: 15px;
	color: black;
}

.content form input {
	margin-left: 15px;
	border: 0px;
	border-bottom: 1px solid black;
}